

header {
    position: fixed; /* ヘッダーを固定する */
    top: 0; /* 上部から配置の基準位置を決める */
    left: 0; /* 左から配置の基準位置を決める */
    right: 0;
    width: 100vm; /*ヘッダーの横幅を指定する */
    height: auto; /* ヘッダーの高さを指定する */
    /* padding: 10px; ヘッダーの余白を指定する(上下左右) */
    color: #000000; /* フォントの色を指定する */
    background-color: rgba(0, 0, 255, 0.1); /* 背景のみ半透明 */
    margin-left: 30px;
    margin-right: 30px;
}

body{
    margin: 20px; /* bodyの外側の余白を指定する */
    padding: 100px 10px 50px 10px; /* bodyの内側余白を指定する(上:右:下:左) */
    }

.container {
    border: 3px solid #ccc;
    background-color: #E4EDE8;
    margin-bottom: 30px;
    display: flex;
    /* height: 800px; */
}

#googleBooks {
    background-color: #FFF0F5;
}

.box {
    width: 50%;
}

#trends-widget-1 {
    height: 430px;
}

#trends-widget-2 {
    height: 430px;
}

.search #inputField {
    background: #FFF;
    border: solid 1px #eee;
    padding-left: 15px;
    padding-right: 15px;
}

ul {
    margin-top: 0%;
}


/* 検索結果 */
ul#books {
    padding: 0;
    list-style: none;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
ul#books:after {
    content: "";
    width: 22%;
}
ul#books li {
    width: 22%;
}
a.bookLink {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    display: inline-block;
    width: 100%;
    flex-direction: column;
    text-decoration: none;
    color: #313131;
}
.bookImage {
    display: flex;
    align-items: center;
    height: 200px;
    margin-bottom: 10px;
}
.bookImageInner {
    display: flex;
    margin: 0 auto;
    position: relative;
    box-shadow: -6px 6px 10px -2px #001b4440, 0 0 3px #8f9aaf1a;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}
.bookImageInner img {
    max-height: 190px;
}
a.bookLink:hover > .bookImage .bookImageInner {
    transform: scale(1.05);
}
.bookImageInner:after {
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(-90deg,#fff0,#ffffff1a 80%,#ffffff4d 95%,#fff6 96.5%,#cbcbcb14 98%,#6a6a6a1a);
    border-radius: 3px;
}

p.bookPublishedDate, p.bookTitle {
    margin: 0 auto;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.4;
    /* width: 25%; */
}
p.bookPublishedDate {
    color: #707070;
    font-size: 0.9rem;
    position: relative;
    margin-bottom: 8px;
}
p.bookPublishedDate:before {
    content: "\f017";
    font-family: "Font Awesome 5 Free";
    font-weight: 100;
    font-size: 0.85rem;
    margin-right: 5px;
    color: #707070;
}

#booklist {
    padding: 0;
    list-style: none;
    border: none;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    display:inline-block;
    flex-wrap: wrap;
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 255, 0.1); /* 背景のみ半透明 */

}



